.quiz {
    display: flex;
    width: 100%;
}

.quiz__left {
    width: 20%;
    margin-top: 100px;
    margin-bottom: 86px;
    margin-left: 60px;
}

.quiz__left-tree > p {
    background-color: burlywood;
}

.quiz__right {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    margin-top: 50px;
    margin-bottom: 86px;
    margin-right: 200px;
    padding: 40px;
}

.quiz__right > button {
    margin-left: 40px;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #fbb730;
}

.quiz__right > div > input[type="radio"] {
    height: 25px;
}